.SkillsContainer{
    width: 650px;
    margin-top: 2em;
}
.SkillsContainer menu{
    background-color: #ffffff;
    /* width: 100%; */
    display: flex;
    justify-content: center;
    gap: 10px;
    box-shadow: 0 0px 5px 5px #fff;
}

.SkillsContainer menu button[aria-selected="true"]{
        background-color: #377EF0;
}

.SkillsContainer menu button{
    background:#000C24;
    padding: 1em;
    border: 1px solid #fff;
    font-weight: 760;
    border-radius: 10px;
}

.Skills article ul  p{
    color: #000 !important;
    font-weight: 700;
}

.Skills{
    margin-top: 1em;
   border: 3px solid #000C24;
   box-shadow: 0 0 5px 5px #fff;
    height: 220px;
    background-color: #fff;
}

.Skills article ul{
    display: flex;
    padding: 1em;
    align-items: center;
gap: 30px;
}

.Skills article ul li{
    display: flex;
    flex-direction: column;
    align-items: center;

}


.Skills article ul li img{
    width: 40px;
    height: 40px;
}
.Skills article ul li a{
    color: #000 !important;
    font-weight: 700;
}