
.header{
    height: 90vh;
    background: linear-gradient(to right, #2144d0,#1c2952,#291C3A);

}



.title-logo{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.title{
    text-shadow: #2144d0 1px 0 10px;
}

.title span{
    font-size: 2em;
    font-weight: 600;
}

.title h1{
    font-weight: 700;
    font-size:5em;
    color: #7391b6 !important;
}

.logo img{
    width: 500px;
    height:500px;
}


.info{
    /* border: 1px solid; */
    display: flex;
    background-color: #1e1d3b;

}

.litteInfo{
    display: flex !important;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.litteInfo ul{
    padding: .2em 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    color: #DCCFED;
}

.projectsExp li{
    display: flex;
    align-items: center;
    gap: 10px;
}

.projectsExp li h2{
    font-size: 4em;
    color: #DCCFED;
}

.projectsExp li span{
    font-size: 1.5em;
}

.someSkils li img{
    width: 50px;
}