*{
    color: #fff !important;
}

li{
    list-style: none;
}
a{
    text-decoration: none;
}

.navbar{
    padding: 0 !important;
    
}
.nav{
    margin: 0;
    width: 100%;
    background: linear-gradient(to right, #2144d0,#1c2952,#291C3A);

}
.nav ul{
    display: flex;
    align-items: center;
    margin: 0 !important;
    padding: 1em;
}
.nav ul li{
    font-size: 1.5rem;
    padding: 0 1rem;
}