*{
    color: #fff !important;
}

li{
    list-style: none;
}
a{
    text-decoration: none;
}
.nav{
    margin: 1rem 0;
}
.nav ul{
    display: flex;
}
.nav ul li{
    font-size: 1.5rem;
    padding: 0 1rem;
}